* {
  padding: 0; }

.header {
  background-color: #221b1b; }
  .header__container {
    display: flex;
    color: white;
    justify-content: space-around; }
  .header-titulo {
    font-size: 35px; }

.header__container-list li {
  text-decoration: none; }
  .header__container-list li:hover {
    color: blueviolet; }

.main {
  background-color: #221b1b;
  padding-top: 25px; }
  .main__container-h1 {
    color: green;
    justify-content: center;
    text-align: center; }

.main__container-h3 {
  color: green;
  justify-content: center;
  text-align: center; }

.main__container img {
  position: relative;
  left: 580px; }

.footer {
  background-color: #221b1b; }
  .footer__container {
    display: flex;
    justify-content: space-around; }
  .footer img {
    height: 80px; }
